@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Define numbers */
  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
  --small: calc(var(--p) / var(--font-scale));
  --margin-lg: 0 12%;
  --margin-md: 0 6%;

  /* Define main color variables */
  --text-color: #fef9ec;
  --background-color: #140f00;
  --primary-color: #ff8400;
  --secondary-color: #291f00;
  --accent-color: rgb(248, 108, 48);
  --transparent-card-color: rgba(255, 255, 255, 0.03);
  --transparent-card-color-accent: rgba(248, 108, 48, 0.03);
  --transparent-card-color-primary: rgba(255, 132, 0, 0.1);

  /* Define linear gradients */
  --linearPrimarySecondary: linear-gradient(
    to right,
    var(--primary-color),
    #291f00
  );
  --linearPrimaryAccent: linear-gradient(
    to right,
    var(--primary-color),
    var(--accent-color)
  );
  --linearSecondaryAccent: linear-gradient(
    to right,
    var(--secondary-color),
    var(--accent-color)
  );
  --radialPrimarySecondary: radial-gradient(
    var(--primary-color),
    var(--secondary-color)
  );
  --radialPrimaryAccent: radial-gradient(
    var(--primary-color),
    var(--accent-color)
  );
  --radialSecondaryAccent: radial-gradient(
    var(--secondary-color),
    var(--accent-color)
  );

  /* Define text colors */
  --text-50: #fef7e7;
  --text-100: #fcefcf;
  --text-200: #fae09e;
  --text-300: #f7d06e;
  --text-400: #f5c13d;
  --text-500: #f2b10d;
  --text-600: #c28e0a;
  --text-700: #916a08;
  --text-800: #614705;
  --text-900: #302303;
  --text-950: #181201;

  /* Define background colors */
  --background-50: #fff9e5;
  --background-100: #fff2cc;
  --background-200: #ffe699;
  --background-300: #ffd966;
  --background-400: #ffcc33;
  --background-500: #ffbf00;
  --background-600: #cc9900;
  --background-700: #997300;
  --background-800: #664d00;
  --background-900: #332600;
  --background-950: #1a1300;

  /* Define primary colors */
  --primary-50: #fff3e5;
  --primary-100: #ffe6cc;
  --primary-200: #ffce99;
  --primary-300: #ffb566;
  --primary-400: #ff9c33;
  --primary-500: #ff8400;
  --primary-600: #cc6900;
  --primary-700: #994f00;
  --primary-800: #663500;
  --primary-900: #331a00;
  --primary-950: #1a0d00;

  /* Define secondary colors */
  --secondary-50: #fff9e5;
  --secondary-100: #fff2cc;
  --secondary-200: #ffe699;
  --secondary-300: #ffd966;
  --secondary-400: #ffcc33;
  --secondary-500: #ffbf00;
  --secondary-600: #cc9900;
  --secondary-700: #997300;
  --secondary-800: #664d00;
  --secondary-900: #332600;
  --secondary-950: #1a1300;

  /* Define accent colors */
  --accent-50: #feeee6;
  --accent-100: #fddcce;
  --accent-200: #fbb99d;
  --accent-300: #fa966b;
  --accent-400: #f8733a;
  --accent-500: #f65009;
  --accent-600: #c54007;
  --accent-700: #943005;
  --accent-800: #622004;
  --accent-900: #311002;
  --accent-950: #190801;

  /* Define font family */
  --font-family: "Poppins", sans-serif;
}

/* Define light-mode colors (if needed) */
:root.light-mode {
  --text-color: rgb(20, 15, 0);
  --background-color: #fef9ec;
  --primary-color: #ff8400;
  --secondary-color: #fff5d6;
  --accent-color: rgb(207, 67, 7);
  --transparent-card-color: rgba(0, 0, 0, 0.03);
  --transparent-card-color-accent: rgba(148, 48, 5, 0.1);
  --transparent-card-color-primary: rgba(255, 132, 0, 0.21);
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  cursor: url("files/cursor.png") 32 32, pointer;
  overflow-x: hidden;
}

.bg {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: url("files/background.png");
  background-size: cover;
  z-index: -10;
}

h1 {
  font-size: var(--h1);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.22;
}

h3 {
  font-size: var(--h3);
  font-weight: 700;
  line-height: 1.25;
}

h4 {
  font-size: var(--h4);
  font-weight: 700;
  line-height: 1.3;
}

h5 {
  font-size: var(--h5);
  font-weight: 700;
  line-height: 1.4;
}

h6 {
  font-size: var(--p);
  font-weight: 700;
  line-height: 1.5;
}

p {
  font-size: var(--p);
  line-height: 1.5;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

hr {
  border: 2px solid var(--accent-color);
  margin: 2em;
  width: 80%;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}

.vl {
  border-left: 3px solid var(--accent-color);
  height: 200px;
  margin: 0 1%;
}
/* PRELOADER */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 999;
}

.bar {
  width: 20vw;
  height: 200vh;
  border-radius: 52.5vh;
  transform: translateY(-50vh);
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.bar-text {
  font-size: 15vw !important;
  font-weight: 900 !important;
  color: var(--secondary-color);
  opacity: 0.5;
}

.counter {
  position: fixed;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: var(--text-color);
  padding: 0.2em 0.4em;
  font-size: 20vw;
  font-family: var(--font-family);
  font-weight: 900;
  user-select: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.btn-primary,
.btn-secondary {
  padding: 1em 2em;
  margin: 0.6em 0em;
  border-radius: 8px;
  display: inline-block;
  font-size: var(--p);
  z-index: 1;
  transition: transform ease 0.2s;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  border: none;
}

.gradient-text {
  background-image: var(--linearPrimaryAccent);
  -webkit-background-clip: text;
  color: transparent; /* Versteckt den Textinhalt, damit nur der Gradient sichtbar ist */
}

.outline-text {
  color: rgb(0, 0, 0, 0);
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-stroke-color: var(--text-color);
  font-style: italic;
}

.spacer {
  height: 100vh;
}

.card {
  border: none;
  color: var(--text-color);
  padding: 2em 5em;
}

.underline-text {
  position: relative;
  display: inline-block;
}

.underline-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  border-bottom: 2px solid #000; /* Ändere die Farbe und Dicke nach Bedarf */
}

.bg-text-color {
  background-color: var(--text-color) !important;
  color: var(--background-color) !important;
}
.bg-background-color {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
.bg-primary-color {
  background-color: var(--primary-color) !important;
  color: var(--background-color) !important;
}
.bg-secondary-color {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
}
.bg-accent-color {
  background-color: var(--accent-color) !important;
  color: var(--background-color) !important;
}

.bg-card-accent-color {
  background-color: var(--transparent-card-color-accent) !important;
  color: var(--text-color) !important;
}

.bg-card-primary-color {
  background-color: var(--transparent-card-color-primary) !important;
  color: var(--text-color) !important;
}

.text-color {
  color: var(--text-color);
}
.background-color {
  color: var(--background-color);
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}
.accent-color {
  color: var(--accent-color);
}

.bg-card {
  background-color: var(--transparent-card-color);
  border: none;
  color: var(--text-color);
  padding: 2em 5em;
  border-radius: 1.375rem;
}

/*
-
-
-
-
-
-
*/

.landing-page {
  position: relative;
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.landing-page h1 {
  font-size: calc(var(--h1) * 4);
  font-weight: 900;
  color: var(--primary-color);
  margin: 0;
}

.landing-page h2 {
  text-align: center;
  white-space: nowrap;
  font-size: var(--h1);
  font-weight: 300;
  color: var(--text-color);
  opacity: 0.6;
  margin-top: -0.6em;
}

.landing-page a {
  user-select: none;
  border: calc(var(--p) * 0.3) solid var(--text-color);
  border-radius: 1.3em;
  padding: calc(var(--p) * 0.2);
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.landing-page a h3 {
  font-size: calc(var(--h1) * 1.1);
  font-weight: 900;
}

.triangle {
  border-left: var(--p) solid transparent;
  border-right: var(--p) solid transparent;
  border-top: var(--h4) solid var(--text-color);
}

.background-landingpage {
  position: absolute;
  opacity: 0.08;
}

.logo-landingpage {
  position: absolute;
  width: 70vw;
  height: 70vh;
  content: "";
  top: 15vh;
  left: 18vw;
  bottom: 15vh;
  right: 15vw;
  z-index: -1;
}

.t1 {
  border-left: 0px solid transparent;
  border-right: 6em solid transparent;
  border-top: 6em solid var(--text-color);
  left: 4vw;
  top: 4vw;
}

.t2 {
  border-left: 6em solid transparent;
  border-right: 0px solid transparent;
  border-top: 6em solid var(--text-color);
  right: 4vw;
  top: 4vw;
}

.t3 {
  border-left: 0px solid transparent;
  border-right: 6em solid transparent;
  border-bottom: 6em solid var(--text-color);
  left: 4vw;
  bottom: 4vw;
}

.t4 {
  border-left: 6em solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 6em solid var(--text-color);
  right: 4vw;
  bottom: 4vw;
}

.start-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.start-menu a {
  display: flex;
  justify-content: center;
}

#play-button {
  width: 50%;
}

.useek-heading {
  font-size: calc(var(--h1) * 2);
}

.useek-text {
  font-size: var(--h4);
}

.navigator_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

.navigator_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  font-size: calc(var(--h1) * 1.5);
  font-weight: 900;
  user-select: none;
  line-height: 120%;
  margin: 0;

  width: 100%;
  color: var(--transparent-card-color);
  background: linear-gradient(to right, var(--text-color), var(--text-color))
    no-repeat;
  background-clip: text;
  border-bottom: 1px solid var(--secondary-color);
}

.pirate-home-text {
  position: relative;
  color: var(--transparent-card-color);
  background: linear-gradient(
      to right,
      var(--accent-color),
      var(--primary-color)
    )
    no-repeat;
  background-clip: text;
}

.pirate-home-p {
  font-size: var(--h5);
  opacity: 0.8;
  margin: 0;
  line-height: 1.5em;
}

.navigator_text span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;

  clip-path: polygon(50% 80%, 50% 80%, 50% 20%, 50% 20%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.6s;
}

.navigator_text:hover > span {
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.home_button {
  position: fixed;
  width: 100px;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0.7;
  transition: width 0.5s, bottom 0.5s, right 0.5s, opacity 0.5s;
}

.home_button:hover {
  width: 110px;
  bottom: 15px;
  right: 15px;
  opacity: 1;
}

.sidebar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  right: 20px;
  z-index: 999;
}

.sidebar-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sidebar-top div {
  width: 90%;
  margin-top: 1.5em;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: center;
}

.sidebar-top #logo_container {
  transform: translateX(7px);
}

.sidebar-top #impressum,
.sidebar-top #radio{
  opacity: 0.5;
  width: 90%;
  margin-top: 1.5em;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: center;
}

.sidebar-top #impressum:hover,
.sidebar-top #radio:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.sidebar-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(2vw + 60px);
  z-index: 999;
  margin-bottom: 1em;
}

.sidebar-right div,
.sidebar-right button {
  width: 90%;
  margin-top: 1.5em;
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: center;
}

.sidebar-right div:hover,
.sidebar-right button:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.icon-container {
  position: relative;
  user-select: none;
}

#ship-icon {
  width: calc(50px * var(--font-scale));
  height: calc(50px * var(--font-scale));
}

.preloader_icon {
  width: 20vh;
  height: 20vh;
  z-index: 10000;
  position: fixed;
  left: calc(-20vh);
  bottom: 10vh;
}

.parallax {
  display: flex;
  background-color: var(--accent-50);
  width: 100vw;
  height: 50vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: center;
  transform: scale(1);
  pointer-events: none;
  transform-origin: center;
}

.parallax h1 {
  position: absolute;
  width: 100%;
  font-size: 9vw;
  font-weight: 900;
  color: var(--text-color);
}

.island-margin {
  margin-top: 40vh;
}

.pirate-welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  padding: 0;
}

.pirate-lock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  padding: 0;
}

.pirate-lock img {
  width: 60%;
  border-radius: 50%;
}

#pirate-home-lock {
  width: 90%;
}

.pirate-home-welcome {
  width: 55%;
}

.pirate-welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 1.5%;
  color: var(--text-color);
}

.pirate-welcome-text p {
  font-size: var(--h5);
  opacity: 0.8;
  margin: 0;
}

.pirate-welcome img {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-right: 1.5%;
}

.map-container {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 10em);
  grid-template-rows: repeat(5, 10em);
  gap: 1em;
  text-align: center;
  justify-content: center;
}

.grid-item {
  font-size: var(--h5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3em solid #f86c30;
  border-radius: 1em;
  height: 8em;
  width: 8em;
}

.poem {
  font-size: var(--p);
  text-align: center;
  opacity: 0.8;
}

.note-heading {
  text-align: center;
  font-size: calc(var(--h1) * 1.3);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 0;
  color: var(--text-color);
  border-radius: 1.375rem;
  padding: 10px 0; /* Adjust this value to increase height */
  line-height: normal; /* For vertically centered text */
}

.note-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 0;
  padding: 0;
}

.note-container img {
  width: 100%;
  padding: 0;
}

#photo {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background-size: 100% auto !important;
  user-select: none;
  border-radius: 1em;
}

#xray {
  width: 100%;
  margin: 0;
  padding: 0;
  mask-image: url("/files/cursor_mask.png") !important;
  mask-repeat: no-repeat;
  mask-size: 150px;
  cursor: help;
  user-select: none;
  border-radius: 1em;
}

#star-container {
  position: relative;
  padding: 0;
}

#star-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1.375em;
  cursor: crosshair;
}

#starmap {
  display: block;
  width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.num {
  text-align: end;
}

.pb-5-to768 {
  padding-bottom: 3rem;
}

.pb-5-up768 {
  padding-bottom: 3rem;
}

@media (max-width: 600px) {
  :root {
    --font-scale: 1.15;
  }
  .poppins-text-responsive {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .bg-card {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

@media (min-width: 600px) {
  :root {
    --font-scale: 1.2;
  }

  .poppins-text-responsive {
    font-size: 19px;
  }
}

@media (max-width: 768px) {
  .bg-card {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  .parallax img {
    width: 160vh;
  }

  .island-margin {
    margin-top: 70vh;
  }

  .num {
    text-align: start;
  }

  .pb-5-to768 {
    padding-bottom: 0;
  }

  .chest-canvas {
    height: 500px !important;
    width: 370px !important;
  }

  .book-canvas {
    height: 448px !important;
    width: 768px !important;
  }
}

@media (min-width: 768px) {
  :root {
    --font-scale: 1.25;
  }

  .poppins-text-responsive {
    font-size: 27px;
  }

  .pb-5-to768 {
    padding-bottom: 0;
  }

  .chest-canvas {
    height: 700px !important;
    width: 520px !important;
  }

  .book-canvas {
    height: 700px !important;
    width: 1200px !important;
  }
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(5, 4.4em);
    grid-template-rows: repeat(5, 4.4em);
    gap: 0.3em;
  }

  .grid-item {
    font-size: calc(var(--p) * 0.8);
    height: 5.4em;
    width: 5.4em;
  }

  .pirate-welcome {
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
    padding: 0;
  }

  .pirate-home-welcome {
    text-align: center;
    width: 90%;
  }

  .vl {
    border: 2px solid var(--accent-color);
    margin-bottom: 2em;
    width: 60%;
    height: 0%;
  }

  .pirate-welcome-text {
    width: 80%;
    text-align: center;
  }

  .pirate-welcome img {
    margin-bottom: 2em;
  }

  .note-container {
    flex-direction: column;
  }

  .note-container h4 {
    font-size: var(--h1);
  }

  .note-container h5 {
    font-size: var(--h2);
  }

  .note-lowres {
    padding: 2em !important;
    margin-top: 0px;
  }

  .bg-card {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

@media (min-width: 992px) {
  :root {
    --font-scale: 1.3;
  }

  .poppins-text-responsive {
    font-size: 37px;
  }

  .mr-to-992 {
    margin-right: 1rem;
  }
}

@media (max-width: 1200px) {
  .w-100-to-1200 {
    width: 100%;
  }

  .center-to-1200 {
    text-align: center;
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .parallax h1 {
    font-size: 10vw;
    z-index: 10;
    mix-blend-mode: hard-light;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-scale: 1.333;
  }

  .poppins-text-responsive {
    font-size: 45px;
  }
}

/* LENIS: https://github.com/studio-freight/lenis*/
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
