html {
  background-color: #140f00;
}

.gradient {
  width: 500px;
  height: 500px;
  filter: blur(5rem);
  background-image: linear-gradient(#f8bc30, #ff8400, #f83030);
  animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
