:root {
  /* Define numbers */
  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
  --small: calc(var(--p) / var(--font-scale));
  --margin-lg: 0 12%;
  --margin-md: 0 6%;

  /* Define main color variables */
  --text-color: #fef9ec;
  --background-color: #140f00;
  --primary-color: #ff8400;
  --secondary-color: #291f00;
  --accent-color: #f86c30;
  --transparent-card-color: rgba(255, 255, 255, 0.03);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #140f00;
  margin: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
}

.text {
  font-size: 8vw;
  letter-spacing: -0.01em;
  line-height: 120%;
  margin: 0;

  width: 100%;
  color: rgb(255, 245, 214, 0.2);
  background: linear-gradient(to right, #fff5d6, #fff5d6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

  border-bottom: 1px solid #2f2b28;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;

  clip-path: polygon(50% 80%, 50% 80%, 50% 20%, 50% 20%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.6s;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text:hover > span {
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

a {
  text-decoration: none;
  color: inherit;
}
